{% extends "base.html" %}

{% block content %}
    <h1>Build a Blog</h1>
    <form method='post'>

        
        <label for = title>Title for your new blog:</label>            
          <input id = title type="text" name='blog' />
        <label>Your new blog:</label>
        <textarea rows = "6" cols ="40"></textarea>
        <input type="submit" value='Add Entry' />
    </form>

    <hr />

    {% if blogs|length == 0 %}
    <p>No blogs yet</p>
    {% else %}

        <ul>
            {% for blog in blogs %}
            <li><h2>{{blog.title}}</h2>
                {{blog.name}}
                <form method="POST" action="/delete-blog" style="display:inline-block;">
                    <input type="hidden" name="blog-id" value="{{blog.id}}" />
                    <input type="submit" value="Done!" />
                </form>
            </li>
            {% endfor %}
        </ul>

    {% endif %}

    <hr />

    <h2>Completed</h2>

    <ul>
        {% for blog in completed_blogs %}
        <li>{{blog.name}}</li>
        {% endfor %}
    </ul>

{% endblock %}